body{
  background-color: rgb(80, 79, 76);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
  background-color: rgb(32, 32, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  line-height: 10px;
  color: white;
}

button{
  background-color: black;
  color: white;
  border: 10px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif; 
  }

.badge{
  text-decoration: underline;
}